@mixin img-background {
    background-image: url('../../Assets/Images/about-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

$text-Color: #fff;

.contect {
    .contect-img {
        @include img-background
    }

    .img-text {
        color: $text-Color;
        font-size: 50px;
        display: block;
        font-weight: 400;
        line-height: 1.4;
        font-family: "Playfair Display", serif;

    }

    .text-area {
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Playfair Display", serif;
    }

    .inp-flied {
        width: 97%;
        border-radius: 0;
        padding: 12px;
        font-family: "Playfair Display", serif;

    }

    .inp-subject {
        border-radius: 0;
        padding: 12px;
        font-family: "Playfair Display", serif;
    }

    .btn-send {
        border-radius: 0;
        padding: 14px 35px;
        border: 1px solid red;
        color: red;
    }

    .btn-send:hover {
        background-color: red;
        color: white;
        transition: 0.5s ease-in;

    }

    .text-address {
        h3 {
            font-family: "Playfair Display", serif;
            color: #1a1a1a;
            margin-top: 0px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 0;

        }

        p {
            font-family: "Roboto", sans-serif;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: 300;
            line-height: 1.6;
        }
    }



}