.Check-out-page {
    font-family: "Playfair Display", serif;
    color: #1a1a1a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;

    .check-out {
        top: 38%;
        right: 42%;
        color: #fff;

        p {
            font-size: 43px;
        }
    }

    .text-note {
        font-family: "Roboto", sans-serif;
        color: #301A22;
        line-height: 1.6;

        .form-control::after {
            content: '*';
            color: tomato;
        }
    }

    .btn-button {
        background: #FF1616;
        font-family: "Roboto", sans-serif;
        padding: 16px 32px;
        color: #fff !important;
        cursor: pointer;
        font-size: 16px !important;
        font-weight: 500 !important;
        border-radius: 35px;
        line-height: 1;
        border: 0;
    }

    .Billing {
        h3 {
            font-size: 18px;
            color: #2a2a2a;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }

        ::placeholder::after {
            content: "*";
            color: tomato;
        }
    }

    .btn-country {
        text-align: left;
        background: #fff;
        color: #797979;
        border-color: #d7e2ec;

    }
}