.custom-toggle:active {
    background: #fff !important;
    color: #140C40 !important;

}

.custom-toggle:hover {
    background: #fff;
    color: #140C40;

}

.dropdown-menu {
    width: 275px;
}

.custom-toggle {
    border: 1px solid #EEE1E0;
    background: #fff;
    border-radius: 30px;
    text-align: start;
    color: #140C40;
    width: 280px;
}

@media screen and (max-width:1025px) {
    .custom-toggle {
        width: 240px !important;
    }
}

.main-card {
    .star-icon {
        font-size: 13px;
        color: #FF5700;
    }

    .card-title:hover {
        color: #FF1616;
    }

    .border-btn.border-btn2:hover {
        color: #fff !important;
    }

    .border-btn:hover {
        color: #FF1616;
    }

    .border-btn.border-btn2 {
        border: 1px solid #FF1616 !important;
        color: #FF1616 !important;
        border-radius: 30px;
    }

    .border-btn {
        border: 1px solid #fff;
        color: #fff;
        background: none;
        text-transform: normal;
        padding: 17px 39px !important;
        -moz-user-select: none;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        transition: color 0.4s linear;
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        z-index: 1;
    }

    .border-btn::before {
        border: 1px solid transparent;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 101%;
        background: #fff;
        z-index: -1;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        transform: scaleY(0);
        border-radius: 0;
    }

    .button:hover {
        color: #FF1616;
    }

    .border-btn:hover::before {
        transform: scaleY(1);
        border: 1px solid transparent;
    }

    .border-btn.border-btn2:hover::before {
        border: 1px solid transparent !important;
        background: #FF1616;
    }
}