.Categories {
    .book-category {
        background-image: url('../../Assets//Images//Categories/h2_hero1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 350px;
    }

    .img-text {
        color: #fff;
        font-size: 50px;
        display: block;
        font-weight: 400;
        line-height: 1.4;
    }
}