@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.bg-carsouel {
    background-color: #FEF4F4;
    padding-bottom: 50px;
}

.best-selling {

    h2,
    h5 {
        font-family: "Playfair Display", serif;
        color: #1a1a1a;
        font-weight: 600;
    }
}